node-red/flows.json
[{"id":"d8b2d98b.418398","type":"tab","label":"auto feeder","disabled":false,"info":""},{"id":"b4b114b1.2d9f88","type":"mqtt out","z":"d8b2d98b.418398","name":"","topic":"cmd/auto_feeder/","qos":"","retain":"","broker":"dff255e.ca9d3a8","x":810,"y":200,"wires":[]},{"id":"6f49296f.7b8a28","type":"inject","z":"d8b2d98b.418398","name":"Manually","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"run","payloadType":"str","x":400,"y":140,"wires":[["ec900830.7b0d28"]]},{"id":"93e47a90.a470d8","type":"mqtt in","z":"d8b2d98b.418398","name":"","topic":"status/auto_feeder/","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":170,"y":360,"wires":[["8666c2f6.11783"]]},{"id":"8666c2f6.11783","type":"debug","z":"d8b2d98b.418398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":360,"wires":[]},{"id":"4c49fea3.de43a","type":"ui_button","z":"d8b2d98b.418398","name":"","group":"645e1d8.ca3b5e4","order":1,"width":0,"height":0,"passthru":true,"label":"Feeding","tooltip":"","color":"","bgcolor":"","icon":"","payload":"run","payloadType":"str","topic":"","x":400,"y":200,"wires":[["ec900830.7b0d28"]]},{"id":"d89e1377.02bdb","type":"mqtt in","z":"d8b2d98b.418398","name":"","topic":"data/TouchButtonsBox/1/","qos":"2","datatype":"auto","broker":"dff255e.ca9d3a8","x":190,"y":200,"wires":[["4c49fea3.de43a"]]},{"id":"4ad5ce2b.08219","type":"cronplus","z":"d8b2d98b.418398","name":"At 08:00","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 08 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":400,"y":260,"wires":[["ec900830.7b0d28"]]},{"id":"ec900830.7b0d28","type":"function","z":"d8b2d98b.418398","name":"payload","func":"msg.payload=\"run\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[["b4b114b1.2d9f88"]]},{"id":"dff255e.ca9d3a8","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"645e1d8.ca3b5e4","type":"ui_group","name":"Marcos","tab":"6ce9e515.82b6cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"6ce9e515.82b6cc","type":"ui_tab","name":"Power","icon":"dashboard","order":1,"disabled":false,"hidden":false}]